body {
    background: #168862;
    background-image: url('../images/hoj.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: 90% cover;
    background-position: center;
  }

  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  .main-section {
    background: transparent;
    max-width: 500px;
    width: 90%;
    height: 500px;
    margin:60px auto;
    border-radius: 10px;
  }

  .add-section {
    width: 100%;
    background: #979797;
    margin: 0px auto;
    padding: 15px;
    border-radius: 5px;
  }

  .add-section input, select {
    display: block;
    width: 95%;
    height: 40px;
    margin: 10px auto;
    border: 2px solid #fffdfd;
    font-size: 16px;
    border-radius: 5px;
    padding: 0px 5px;
  }

  .add-section button {
    display: block;
    width: 95%;
    height: 40px;
    margin: 0px auto;
    border: none;
    outline: none;
    background: #00aeff;
    color: #646464;
    font-family: sans-serif;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  .add-section button:hover {
    box-shadow: 0 2px 2px 0 #fafafafd, 0 2px 3px 0 #7af6ff;
    opacity: 0.7;
  }

  .add-section button span {
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    width: 18px;
    height: 18px;
  }

  #errorMes {
    display: block;
    background: #f2dede;
    width: 95%;
    margin: 0px auto;
    color: rgb(139, 19, 19);
    padding: 10px;
    height: 35px;
  }

  .show-todo-section {
    width: 100%;
    background: #ffffff;
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
  }

  .todo-item {
    width: 95%;
    margin: 10px auto;
    padding: 20px 10px;
    box-shadow: 0 4px 8px 0 #f3f3f3, 0 6px 20px 0 #ada9a9;
    border-radius: 5px;
  }

  .todo-item h2 {
    display: inline-block;
    padding: 5px 0px;
    font-size: 17px;
    font-family: sans-serif;
    color: #555;
  }

  .todo-item small {
    display: block;
    width: 100%;
    padding: 5px 0px;
    color: #888;
    padding-left: 30px;
    font-size: 14px;
    font-family: sans-serif;
  }

  .update-to-do {
    display: none;
    float: right;
    width: 20px;
    height: 20px;
    font-family: sans-serif;
    color: rgb(139, 97, 93);
    text-decoration: none;
    text-align: right;
    padding: 0px 5px 8px 0px;
    border-radius: 50%;
    transition: background 1s;
    cursor: pointer;
  }

  .update-to-do:hover {
    background: rgb(88, 51, 48);
    color: #fff;
  }

  .remove-to-do {
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    font-family: sans-serif;
    color: rgb(139, 97, 93);
    text-decoration: none;
    text-align: right;
    padding: 0px 5px 8px 0px;
    border-radius: 50%;
    transition: background 1s;
    cursor: pointer;
  }

  .remove-to-do:hover {
    background: rgb(139, 97, 93);
    color: #fff;
  }

  .checked {
    color: #999 !important;
    text-decoration: line-through;
  }

  .todo-item input {
    margin: 0px 5px;
  }

  .empty {
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    color: #cccc;
  }

  .todo-item p {
    background-color: #f2f2f2; 
    border-radius: 5px; 
    padding: 10px; 
    margin: 10px 0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    color: grey;
}

  .show-todo-section button {
    background-color: #439797; 
    border: none; 
    color: white; 
    padding: 12px 30px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 14px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 12px; 
    width: 140px; 
  }

  .show-todo-section button:hover {
    background-color: #a3c5ae;
  }

    @media (max-width: 600px) {
      .main-section {
          width: 100%;
          height: auto;
      }
      .add-section input, select {
          width: 100%;
      }
      .add-section button {
          width: 100%;
      }
      .todo-item {
          width: 100%;
      }
      .show-todo-section button {
          width: 100%;
      }
  }
